.gridContainer {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar content'
    'footer content';
  grid-gap: 10px;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 40px 300px 1fr;
}

.gridHeader {
  grid-area: header;
}
.gridSidebar {
  grid-area: sidebar;
  align-self: start;
}
.gridContent {
  grid-area: content;
}
.gridFooter {
  grid-area: footer;
  align-self: start;
  // background-color: black;
}
