@import './color.scss';

.button {
  cursor: pointer;
  padding: 10px 30px;
  height: 100%;
  color: $colorButtonText;
  background: $colorButtonBac;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 15px;
}
.button:hover {
  color: $colorButtonTextHover;
  border: 2px solid $colorButtonTextHover;
  background: $colorButtonBacHover;
  opacity: 0.8;
  font-weight: bold;
  transform: scale(1.1);
}
