$colorBody: #c9f8fe;
$colorFormBac: #76caf9;
$colorButtonBac: #048bfe;
$colorButtonBacHover: #0d263c;
$colorButtonTextHover: #ffea00;
$colorButtonText: #fff;
$colorshadow: 2px 2px 3px #012c3f;
$required: rgb(243, 231, 231);
$requiredBorder: rgb(251, 0, 0);
