.container {
  margin: 0 10%;
  color: #3f197c;
  text-align: center;
  div {
    font-size: 20px;
    padding: 1px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  form {
    font-size: 20px;
    padding: 1px;
    margin-bottom: 1px;
    font-weight: bold;
  }
}
